html {
  background:#eee;
  font-family: sans-serif
}
h1,h2,h3,h4,h5 {
  padding:0px;
  margin-top:0px
}
.container {
  width:320px;
  margin:20px auto;
}
flipcard {
  display:none;
}
.col {
  float:left;
  padding:0 5px 0 0
}

.row {
  margin:5px 0;
}

button {
  padding:10px 20px;
  border:1px solid #FF0044;
  background:rgba(255,255,255,0.1);
  color:#FF0044;
  font-size:14px;
}

.row:after {
  display: table;
  clear: both;
  content: "";
}